@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* General Rules */
html{
        font-family : "Oswald";
        text-align: center;
        padding: 0;
        margin: 0;
}

header, body{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}

section {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
}

h1, h2, h3{
        text-align: left;
}

h2, h3{
        font-size: 48px;
        font-weight: 600;
        padding: 0;
        margin-bottom: 30px;
}
article{
        margin-top: 20px;
}

h4, p{
        padding: 0;
        margin: 0;
}

footer{
        height: 70px;
}

/* Specific Rules */
/* header */
header{
        width: 60%;
        height: 122px;
        background-color: #61787F;
        border: solid 1px #000;
        margin-top: 50px;
        display: flex;
}

header span{
        width: 30%;
}

header img{
        width: 127px;        
        margin-top: 15px;
}

h1{
        color: #fff;
        font-size: 60px;
        line-height: 60px;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 40px;
        width: 70%;      
}

/* Main */
/* best movie section */
#bestMovieArticle{
        min-height: 369px;
        border: solid 6px #000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 15px;
}

#bestMoviePicture{
        width: 25%; 
        height: 369px;
        margin-top: auto;
        margin-bottom: auto;
        box-sizing: content-box;
        background-size: cover;
	background-position: center;
}

#bestMoviePitch{
        width: 70%;
        margin-left: 10px;
        font-size: 28px;
}

#bestMoviePitch h3{
        margin-top: 0;
}

#bestMovieDescription{
        text-align: left;
        margin-bottom: 10px;
        min-height: 190px;
}

#bestMovieDetailButton, #closeButton{
        color: #fff;
        width: 158px;
        height: 40px;
        font-size: 24px;
        font-weight: 500;
        background-color: #FA0B0B;
        border-radius: 25px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: 15px;
}

/* Fixed Categories section */
.categoryContentBox{      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 700px;       
}

.cadre{
        width: 32%;
        height: 350px;
        background-size: cover;
	background-position: center;
        margin: 0;
        padding: 0;
        margin-bottom: 20px ;
}

.cadre>div{
        height: 100px;
        margin-top: 80px;;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding-top: 50px;
        padding-bottom: 5px;
}

h4{
        height: 55px;
        font-size: 20px;
        text-align: left;
        padding-left: 30px;
}

.movieDetailButton{
        opacity: 1;
        width: 80px;
        height: 30px;
        background-color: #000;
        border-radius: 25px;
        margin-left: auto;
        margin-right: 15px;
        padding-top: 10px;
        margin-top: 0px;
}

.movieDetailButton:hover{
        cursor: pointer;
        transform: scale(1.1);
	transition-duration: 0.5s;
}

.seeMoreButton{
        display: none;
}

/* personalized categories */
.otherCategoryTitleBox{
        width: 100%;
        display: flex;
        justify-content: baseline;
        margin-bottom: 10px;
}

.categoryListBox{
        margin-top: 40px;
        width: 60%;
        font-size: 36px;
        margin-left: 20px;
        height: 60px;
        background-color: #fff;  
}

.categoryListBox option{
        text-align: left;
        padding-left: 20px;
        padding-top: 5px;
}

.triangle{
        margin-left: 80px;
}

/*Modal*/
#modal{
        display: none;
        position: sticky;
        top: 0px; 
        left: 0px;
        background-color: #fff;
        width: 100%;
        min-height: 950px;
        text-align: left;

}

#modal>div{
        width: 80%;
}

#modalHeader, #modalBody{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
}

#modalHeader{
        display: flex;
        justify-content: space-around;      
}

#modal h5{
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
}

#modalHeader p{
        font-weight: bold;
        font-size: 20px;
}

#modalHeader p:nth-child(5){
        margin-top: 50px;
}

.modalPicture{
        width: 40%; 
        height: 460px;
        margin-top: auto;
        margin-bottom: auto;
        box-sizing: content-box;
        background-size: cover;
	background-position: center;
}
#modalBody p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
}

#closeButton{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
}

/*tablette*/
@media screen and (max-width: 992px){

        header, section{
                width: 100%;
        }

        #bestMoviePicture{
                width: 32%;
                margin: 0;
        }

        #bestMoviePitch{
                width: 63%;
        }

        h2, h3{
                font-size: 2rem;
        }

        #bestMovieDetailButton, #closeButton{
                width: 120px;
                height: 35px;
                font-size: 20px;
                padding-top: 10px; 
        }

        .seeMoreButton{
                display: inline-block;
        }

        .categoryContentBox{
                justify-content: space-around;
                margin-bottom: 50px;
        }

        .cadre{
                width: 47%;
        }

        .cadre:nth-child(n + 5){
                display: none;
        }

        .seeMoreButton{
                background-color: orangered;
                color: #fff;
                width: 150px;
                height: 30px;
                border-radius: 25px;
                padding-top: 10px;
        }

        .categoryListBox{
                margin-top: 10px;
                font-size: 1.5rem;
        }

        .triangle{
                width: 20px;
        }
}

/*téléphone portable*/
@media screen and (max-width: 768px){ 
        header{
                display: block;
        }
        h1{
                display: none;
        }     

        h2, h3{
             text-align: center;   
        }

        #bestMovieArticle{
                display:block;
        }

        #bestMoviePicture{
                min-width: 90%;
                min-height: 300px;
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
        }

        #bestMoviePitch{
                width: 95%;
        }

        #bestMoviePitch p{
                margin-bottom: 15px;
        }

        .bestMovieDetailButton{
                margin-right: auto;
        }

        .cadre{
                width: 90%;
        }

        .cadre:nth-child(n + 3){
                display: none;
        }

        .displayPersonalizedCategory h2{
                display: none;
        }

        .categoryListBox{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
        }
}